<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../css/mainpage.css">
    <link rel="stylesheet" href="../../css/iconfont.css">
</head>
<body>
    <div class="head">
        <img class="headimg" src="../../img/1.png">
        <div class="loginsec">
            <div class="username">用户名</div>
            <input type="text" class="usernametext">
            <input type="checkbox" class="checkbox1">
            <div class="autologin">自动登录</div>
            <div class="refundpass">找回密码</div>
            <div class="password">密码</div>
            <input type="password" class="passtext">
            <button class="loginin">登录</button>
            <div class="register">立即注册</div>
        </div>
        <div class="haslogin none">
            <div class="tubiao2"><i class="iconuser icon-user"></i></div>
            <div class="displayusername">1349352044</div>
            <div class="displayshu"> | </div>
            <div class="tubiao2"><i class="icontixing icon-xiaoxitixing"></i></div>
            <div class="displayxiaoxi">消息(3)</div>
            <div class="displayshu"> | </div>
            <div class="exit">退出登陆</div>
            <div class="displayjifen">我的积分：</div>
            <div class="jifennum">100</div>
            <div class="displayshu">  |  </div>
            <div class="displaycredit">诚信度：</div>
            <div class="credit">90</div>
        </div>
    </div>
    <div class="search">
        <input type="text" class="neirong" placeholder="请输入搜索内容">
        <select class="sel">
            <option class="dropopt" value ="posting">帖子</option>
            <option class="dropopt" value ="user">用户</option>
            <option class="dropopt" value ="section">板块</option>
        </select>
        <button class="sousuobutton"><i class="iconfont icon-sousuoleimufill"></i></button>
        <div class="resou">
            <div class="shou">热搜：</div>
            <div class="ti">物品买卖</div>
            <div class="ti">游戏地带</div>
            <div class="ti">舞文弄墨</div>
            <div class="ti">情感专栏</div>
            <div class="ti">游山玩水</div>
        </div>
    </div>
    <div class="mainbody">
        <div class="bodyheader">
            <i class="icon icon-fl-jia"></i>»
        </div>
        <div class="tongji">
            <div class="tubiao"><i class="tongjiicon icon-tiaoxingtu"></i></div>
            <div class="today">今日</div>:
            <div class="todaynum">1000</div>   |
            <div class="yester">昨日</div>:
            <div class="yesternum">1000</div>   |
            <div class="all">帖子总数</div>:
            <div class="allnum">10000</div>
        </div>
        <div class="board">
            <div class="boardheader">&nbsp;&nbsp;新闻公告<i class="iconzhedie icon-jinzhi"></i></div>
            <div class="boardbodyouter">
                <div class="boardbodyinner">
                    <div class="section dashed">
                        <i class="iconxiaoxi icon-xiaoxi"></i>
                        <div class="sectionId none">1</div>
                        <div class="sectionname">茶余饭后</div>
                        <div class="tieshu">帖数：</div>
                        <div class="tieshunum">499</div>
                        <div class="lastfabiao">最后发表时间：</div>
                        <div class="lasttime">2017-1-4 13:08</div>
                    </div>
                    <div class="section dashed">
                        <i class="iconxiaoxi icon-xiaoxi"></i>
                        <div class="sectionId none">2</div>
                        <div class="sectionname">茶余饭后</div>
                        <div class="tieshu">帖数：</div>
                        <div class="tieshunum">499</div>
                        <div class="lastfabiao">最后发表时间：</div>
                        <div class="lasttime">2017-1-4 13:08</div>
                    </div>
                    <div class="section dashed">
                        <i class="iconxiaoxi icon-xiaoxi"></i>
                        <div class="sectionId none">3</div>
                        <div class="sectionname">茶余饭后</div>
                        <div class="tieshu">帖数：</div>
                        <div class="tieshunum">499</div>
                        <div class="lastfabiao">最后发表时间：</div>
                        <div class="lasttime">2017-1-4 13:08</div>
                    </div>
                    <div class="section">
                        <i class="iconxiaoxi icon-xiaoxi"></i>
                        <div class="sectionId none">2</div>
                        <div class="sectionname">茶余饭后</div>
                        <div class="tieshu">帖数：</div>
                        <div class="tieshunum">499</div>
                        <div class="lastfabiao">最后发表时间：</div>
                        <div class="lasttime">2017-1-4 13:08</div>
                    </div>
                    <div class="section">
                        <i class="iconxiaoxi icon-xiaoxi"></i>
                        <div class="sectionId none">3</div>
                        <div class="sectionname">茶余饭后</div>
                        <div class="tieshu">帖数：</div>
                        <div class="tieshunum">499</div>
                        <div class="lastfabiao">最后发表时间：</div>
                        <div class="lasttime">2017-1-4 13:08</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>